[Unit]
Description=LED Distractions

[Service]
Type=simple
WatchdogSec=300
RestartSec=1
Restart=always
DefaultTimeoutStopSec=5
ExecStart=/usr/bin/led-distractions

[Install]
WantedBy=multi-user.target
